.table {
  background: #ffbe0f;
  margin-top: 2em;
}

td,
th {
  padding: 1em !important;
}

.filters {
  padding-top: 3%;
  justify-content: center;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media .content {
  flex: 1;
  padding: 10px;
  color: #ffbe0f;
}
