nav ul {
  display: flex;
  margin: 0 -10px;
  list-style: none;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #d2c631;
  text-decoration: none;
}

nav a:hover {
  color: #b3b3b3;
}
