*:last-child {
  padding-right: 0;
}

.navbar {
  background: #8c0000;
}

.nav-item > a {
  color: #ffbe0f;
  padding-right: 10px;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #c0beba;
}
